{% extends "base.html" %}

{% block content %}
    <h1 class="mb-4">Gestionnaire de Tournoi de Belote</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Administration</h5>
                    <p class="card-text">Gérez le tournois.</p>
                    <a href="{{ url_for('admin') }}" class="btn btn-primary">Administration</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Matchs</h5>
                    <p class="card-text">Gérez les matchs et enregistrez les scores.</p>
                    <a href="{{ url_for('matches') }}" class="btn btn-primary">Aller aux matchs</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Classement</h5>
                    <p class="card-text">Consultez le classement des équipes.</p>
                    <a href="{{ url_for('ranking') }}" class="btn btn-primary">Voir le classement</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
