{% extends "base.html" %}

{% block content %}
    <h1>Classement</h1>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Scores par tour</h5>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Équipe</th>
                            <th>Total de points</th>
                            <!-- <th>Difference de Points</th> -->
                            {% for round_num in round_numbers %}
                                <th>Tour {{ round_num }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for team_score in teams_scores %}
                        <tr>
                            <td>{{ team_score.team_name }}</td>
                            <td>{{ team_score.team_points_for }}</td>
                            {% for round_num in round_numbers %}
                                <td>
                                    {% if team_score | get_item('round_' ~ round_num) is not none %}
                                        {{ team_score | get_item('round_' ~ round_num) }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td><a href="{{ url_for('team_detail', team_id=team_score.team_id) }}" class="btn btn-sm btn-info">Voir</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
