{% extends "base.html" %}

{% block content %}
    <h1 class="mb-4">Classement</h1>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Équipe</th>
                        <th>Points Pour</th>
                        <th>Différence</th>
                        <th>Points contre</th>
                        <th>Matchs Joués</th>
                        <th>Joueurs</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="{{ url_for('team_detail', team_name=team.name) }}">{{ team.name }}</a></td>
                            <td>{{ team.points_for }}</td>
                            <td>{{ team.points_for - team.points_against }}</td>
                            <td>{{ team.points_against }}</td>
                            <td>{{ team.matches_played }}</td>
                            <td>
                                {% if team.players %}
                                    {{ team.players|map(attribute='name')|join(', ') }}
                                {% else %}
                                    Aucun joueur
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
